<?xml version="1.0" encoding="ISO-8859-1"?>
<attributes>
<attribute>
<srcPos sline="257" eline="257" spos="0" epos="0"/>
<jmpPos sline="423" eline="423" spos="0" epos="0"/>
<text info="Deprecated" aType="DeprecatedTag"/>
<text info="Visibility Annotation: level: RUNTIME (runtime-visible)
 Annotations:
Annotation: type: Ljava/lang/Deprecated; num elems: 0 elems: 

" aType="VisibilityAnnotationTag"/>
</attribute>
<attribute>
<srcPos sline="280" eline="280" spos="0" epos="0"/>
<jmpPos sline="443" eline="443" spos="0" epos="0"/>
<text info="Deprecated" aType="DeprecatedTag"/>
<text info="Signature: (Ljava/lang/String;Ljava/lang/Object;Ljava/lang/String;Ljava/lang/String;Ljava/lang/Object;[Ljava/lang/String;Ljavax/naming/Context;Ljava/util/Collection<Lorg/apache/tomcat/util/http/mapper/WrapperMappingInfo;>;)V" aType="SignatureTag"/>
<text info="Visibility Annotation: level: RUNTIME (runtime-visible)
 Annotations:
Annotation: type: Ljava/lang/Deprecated; num elems: 0 elems: 

" aType="VisibilityAnnotationTag"/>
</attribute>
<attribute>
<srcPos sline="304" eline="304" spos="0" epos="0"/>
<jmpPos sline="465" eline="465" spos="0" epos="0"/>
<text info="Signature: (Ljava/lang/String;Ljava/lang/Object;Ljava/lang/String;Ljava/lang/String;Ljava/lang/Object;[Ljava/lang/String;Ljavax/naming/Context;Ljava/util/Collection<Lorg/apache/tomcat/util/http/mapper/WrapperMappingInfo;>;ZZ)V" aType="SignatureTag"/>
</attribute>
<attribute>
<srcPos sline="466" eline="466" spos="0" epos="0"/>
<jmpPos sline="855" eline="855" spos="0" epos="0"/>
<text info="Signature: (Ljava/lang/String;Ljava/lang/String;Ljava/lang/String;Ljava/util/Collection<Lorg/apache/tomcat/util/http/mapper/WrapperMappingInfo;>;)V" aType="SignatureTag"/>
</attribute>
<attribute>
<srcPos sline="482" eline="482" spos="0" epos="0"/>
<jmpPos sline="877" eline="877" spos="0" epos="0"/>
<text info="Signature: (Lorg/apache/tomcat/util/http/mapper/Mapper$ContextVersion;Ljava/util/Collection<Lorg/apache/tomcat/util/http/mapper/WrapperMappingInfo;>;)V" aType="SignatureTag"/>
</attribute>
<attribute>
<srcPos sline="1373" eline="1373" spos="0" epos="0"/>
<jmpPos sline="2409" eline="2409" spos="0" epos="0"/>
<text info="Signature: <E:Lorg/apache/tomcat/util/http/mapper/Mapper$MapElement;>([TE;Ljava/lang/String;)TE;" aType="SignatureTag"/>
</attribute>
<attribute>
<srcPos sline="1390" eline="1390" spos="0" epos="0"/>
<jmpPos sline="2433" eline="2433" spos="0" epos="0"/>
<text info="Signature: <E:Lorg/apache/tomcat/util/http/mapper/Mapper$MapElement;>([TE;Lorg/apache/tomcat/util/buf/CharChunk;)TE;" aType="SignatureTag"/>
</attribute>
<attribute>
<srcPos sline="1408" eline="1408" spos="0" epos="0"/>
<jmpPos sline="2458" eline="2458" spos="0" epos="0"/>
<text info="Signature: <E:Lorg/apache/tomcat/util/http/mapper/Mapper$MapElement;>([TE;Lorg/apache/tomcat/util/buf/CharChunk;)TE;" aType="SignatureTag"/>
</attribute>
</attributes>
